.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem 6rem 6rem;
}

.biography {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.biography h1 {
  margin: 0;
}

.container {
}

.image {
  float: right;
  margin: 0 0 1rem 1rem;
}