.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem 6rem 6rem;
  min-height: 100vh;
}

.biography {
  margin-top: 5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
